* {
    font-family: 'Open Sans', sans-serif;
}

#createAccount {
    font-weight: bold;
}

body {
    background-color: #e7eff3;
}

#linkRegister{
    color: white;
}

#btnEntrar:hover{
    color: white;
}

#linkEntrar{
    color: #198754;
}

#linkEntrar:hover{
    color: white;
}
